@import "../index.css";

.navBarContainer {
    font-family: 'Karla';
    text-align: right;
    padding-top: 10%;
    display: inline;
    color: black !important;
}

.navBarContainer Link {
    display: inline-block;
}

.link {
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: #dd4242 !important;
    outline: none;
}